.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 4fr) minmax(600px, 16fr);
}

.nav {
  background-color: var(--aside-theme-color);
  color: var(--aside-text-color);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-theme-color);
  color: var(--main-text-color);
}
