@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind screens;

@import "./styles/norm";

:root {
  //main colors
  --main-theme-color: #fafafa;
  --main-text-color: #041B29;

  //aside colors
  --aside-theme-color: #041B29;
  --aside-text-color: #fafafa;
}

.dark {
  //main colors
  --main-theme-color: black;
  --main-text-color: #fafafa;

  //aside colors
  --aside-theme-color: blue;
  --aside-text-color: #fafafa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
